In [10]:
import pandas as pd
from uszipcode import SearchEngine
import csv

In [3]:
df = pd.read_csv("zip-county-data.csv").reset_index(drop = True, inplace = False)
df = df.drop(columns=["Unnamed: 0", "county"])
df = df.sort_values(["year","zip"])
df.head()

        zip   1br   2br   3br   4br  year
1469  94002  1390  1640  2210  2580  2011
1191  94005  1390  1630  2190  2560  2011
1370  94010  1290  1520  2040  2390  2011
1200  94014  1260  1480  1990  2330  2011
1182  94015  1460  1720  2310  2710  2011

In [4]:
df['1br-hw']=((((df['1br']*12)/0.3)/52)/40).round(2)
df['2br-hw']=((((df['2br']*12)/0.3)/52)/40).round(2)
df['3br-hw']=((((df['3br']*12)/0.3)/52)/40).round(2)
df['4br-hw']=((((df['4br']*12)/0.3)/52)/40).round(2)

In [8]:
df.head()

        zip   1br   2br   3br   4br  year  1br-hw  2br-hw  3br-hw  4br-hw
1469  94002  1390  1640  2210  2580  2011   26.73   31.54   42.50   49.62
1191  94005  1390  1630  2190  2560  2011   26.73   31.35   42.12   49.23
1370  94010  1290  1520  2040  2390  2011   24.81   29.23   39.23   45.96
1200  94014  1260  1480  1990  2330  2011   24.23   28.46   38.27   44.81
1182  94015  1460  1720  2310  2710  2011   28.08   33.08   44.42   52.12

In [11]:
# zipcodes = df['zip'].tolist()

def get_city(zipcode):
    search = SearchEngine()
    info = search.by_zipcode(zipcode)
    city = info.major_city
    return city

def get_county(zipcode):
    search = SearchEngine()
    info = search.by_zipcode(zipcode)
    city = info.
    return county

SyntaxError: invalid syntax (<ipython-input-11-82941b5013b6>, line 12)

In [7]:
df['city'] = df['zip'].apply(get_city)

NameError: name 'get_city' is not defined

In [1]:
df.min()

NameError: name 'df' is not defined