In [1]:
import pandas as pd
import csv
import glob

In [2]:
"""
# Matching county names to zip codes
zips = pd.read_csv("bayarea-zipcodes.csv", sep=",")
counties = pd.read_csv("countynames.csv", sep=",")
merged = pd.merge(zips, counties, on="zip")
merged.head()
"""

'\n# Matching county names to zip codes\nzips = pd.read_csv("bayarea-zipcodes.csv", sep=",")\ncounties = pd.read_csv("countynames.csv", sep=",")\nmerged = pd.merge(zips, counties, on="zip")\nmerged.head()\n'

In [3]:
# Checking for duplicates.
zips = pd.read_csv("bayarea-zipcodes.csv", sep=",")
zips.drop_duplicates(subset="zip", keep = False, inplace = True)
zips.reset_index(drop = True, inplace = True)
zips.head()

     zip
0  94558
1  94533
2  95620
3  95476
4  94559

In [4]:
# merged.to_csv("zip-county-data.csv", sep=",")

In [5]:
# Getting list of file names
filenames = glob.glob("20**.csv")
print(filenames)

['2014.csv', '2017.csv', '2012.csv', '2019.csv', '2013.csv', '2011.csv', '2016.csv', '2015.csv', '2018.csv']

In [6]:
# Turn into a list of dataframes
dfs = []
for filename in filenames:
    print('Adding ' + filename)
    file = pd.read_csv(filename, names=['zip', '1br', '2br', '3br', '4br'])
    file['year'] = filename[:4]
    merged = pd.merge(zips.astype(str), file.astype(str), on="zip")
    print(len(merged))
    dfs.append(merged)

Adding 2014.csv
200
Adding 2017.csv
199
Adding 2012.csv
205
Adding 2019.csv
201
Adding 2013.csv
199
Adding 2011.csv
196
Adding 2016.csv
204
Adding 2015.csv
198
Adding 2018.csv
200

In [7]:
df = pd.concat(dfs)
df.sort_values("zip")
df.to_csv("data.csv")
df.head()

     zip   1br   2br   3br   4br  year
0  94558  1090  1460  2080  2050  2014
1  94558   930  1160  1710  2030  2014
2  94533   850  1070  1580  1870  2014
3  95620  1000  1250  1840  2190  2014
4  95620   830  1040  1530  1840  2014

In [9]:
# Matching county names to zip codes
zips = pd.read_csv("data.csv", sep=",")
counties = pd.read_csv("countynames.csv", sep=",")
merged = pd.merge(zips, counties, on="zip")
merged = merged.drop(columns="Unnamed: 0")
merged.head()

     zip   1br   2br   3br   4br  year         county
0  94558  1090  1460  2080  2050  2014    Napa County
1  94558  1090  1460  2080  2050  2014  Sonoma County
2  94558  1090  1460  2080  2050  2014  Solano County
3  94558   930  1160  1710  2030  2014    Napa County
4  94558   930  1160  1710  2030  2014  Sonoma County

In [14]:
merged.drop_duplicates(subset=['zip', 'year'], keep='first', inplace=True)
merged.to_csv("zip-county-data.csv")

In [16]:
len(merged)

1678